@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins' ,sans-serif;
<<<<<<< HEAD
    background:rgb(255, 254, 254);
    /* background:white; */
    color: white
}

/* Only include necessary specific styles */
.img-showcase {
    transition: all 0.5s ease;
    

}
=======
    background:rgb(255, 255, 255);
    /* background:white; */
    color: rgb(0, 0, 0);
}
>>>>>>> 7b45b80c81db46ad10449e0ae8ac39c561b75ded
