.box-land{
    width: 100%;
  
  
    padding:10px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images,.images-land {
    width: 50%;
    height: 100%;
    padding: 10px;
    /* border:2px solid red; */
}
.images-land{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #00000015;
    border-radius: 10px;
}
.img2{
    width:50%;
    height: 100%;
    transition: transform 0.9s ease-out;
    
}
.img2:hover {
    transform: perspective(1000px) rotateY(15deg) scale(1.1);
    transition: transform 0.9s;
}


.images p {
width: 100%;
padding-bottom: 20px;

}
.images h2{
    font-size: 25px;
    text-align: start;
}
.containers-land h1{
    text-align: center;
   
    font-size: max(1.5vw,30px);
    font-weight: 600;
    text-align: center;
    height: 100%;
    width: 100%;
    /* background-color: rgb(77, 255, 77); */
    color:black;
    padding:8px;

}

.containers-land{
    margin-top: 100px;
}
.vertical-line {
    border-left: 2px solid black;
    /* Adjust the height as needed */
    margin-left: 20px;
    width: 100%;
    height: 1px;
}
.images-land p {
    font-size: 25px;

}
.img2:hover .images-land p{
    display: block;
    
}